In [2]:
!pip install matplotlib
!pip install numpy
!pip install altair
!pip install vega_datasets

Collecting matplotlib
  Downloading matplotlib-3.2.1-cp37-cp37m-macosx_10_9_x86_64.whl (12.4 MB)
     |████████████████████████████████| 12.4 MB 2.2 MB/s eta 0:00:01
Collecting cycler>=0.10
  Downloading cycler-0.10.0-py2.py3-none-any.whl (6.5 kB)
Collecting kiwisolver>=1.0.1
  Downloading kiwisolver-1.1.0-cp37-cp37m-macosx_10_6_intel.macosx_10_9_intel.macosx_10_9_x86_64.macosx_10_10_intel.macosx_10_10_x86_64.whl (113 kB)
     |████████████████████████████████| 113 kB 23.1 MB/s eta 0:00:01
Requirement already satisfied: python-dateutil>=2.1 in ./lib/python3.7/site-packages (from matplotlib) (2.8.1)
Collecting pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1
  Downloading pyparsing-2.4.6-py2.py3-none-any.whl (67 kB)
     |████████████████████████████████| 67 kB 10.7 MB/s eta 0:00:01
Collecting numpy>=1.11
  Downloading numpy-1.18.2-cp37-cp37m-macosx_10_9_x86_64.whl (15.1 MB)
     |████████████████████████████████| 15.1 MB 29.5 MB/s eta 0:00:01
Requirement already satisfied: six in ./lib/python3.7/site-packages (from cycler>=0.10->matplotlib) (1.14.0)
Requirement already satisfied: setuptools in ./lib/python3.7/site-packages (from kiwisolver>=1.0.1->matplotlib) (46.1.3)
Installing collected packages: cycler, kiwisolver, pyparsing, numpy, matplotlib
Successfully installed cycler-0.10.0 kiwisolver-1.1.0 matplotlib-3.2.1 numpy-1.18.2 pyparsing-2.4.6
Requirement already satisfied: numpy in ./lib/python3.7/site-packages (1.18.2)
Collecting altair
  Downloading altair-4.0.1-py3-none-any.whl (708 kB)
     |████████████████████████████████| 708 kB 1.4 MB/s eta 0:00:01
Requirement already satisfied: jinja2 in ./lib/python3.7/site-packages (from altair) (2.11.1)
Requirement already satisfied: jsonschema in ./lib/python3.7/site-packages (from altair) (3.2.0)
Requirement already satisfied: numpy in ./lib/python3.7/site-packages (from altair) (1.18.2)
Collecting pandas
  Downloading pandas-1.0.3-cp37-cp37m-macosx_10_9_x86_64.whl (10.0 MB)
     |████████████████████████████████| 10.0 MB 23.9 MB/s eta 0:00:01           | 1.5 MB 23.9 MB/s eta 0:00:01
Requirement already satisfied: entrypoints in ./lib/python3.7/site-packages (from altair) (0.3)
Collecting toolz
  Downloading toolz-0.10.0.tar.gz (49 kB)
     |████████████████████████████████| 49 kB 21.8 MB/s eta 0:00:01
Requirement already satisfied: MarkupSafe>=0.23 in ./lib/python3.7/site-packages (from jinja2->altair) (1.1.1)
Requirement already satisfied: attrs>=17.4.0 in ./lib/python3.7/site-packages (from jsonschema->altair) (19.3.0)
Requirement already satisfied: pyrsistent>=0.14.0 in ./lib/python3.7/site-packages (from jsonschema->altair) (0.16.0)
Requirement already satisfied: six>=1.11.0 in ./lib/python3.7/site-packages (from jsonschema->altair) (1.14.0)
Requirement already satisfied: setuptools in ./lib/python3.7/site-packages (from jsonschema->altair) (46.1.3)
Requirement already satisfied: importlib-metadata; python_version < "3.8" in ./lib/python3.7/site-packages (from jsonschema->altair) (1.6.0)
Requirement already satisfied: pytz>=2017.2 in ./lib/python3.7/site-packages (from pandas->altair) (2019.3)
Requirement already satisfied: python-dateutil>=2.6.1 in ./lib/python3.7/site-packages (from pandas->altair) (2.8.1)
Requirement already satisfied: zipp>=0.5 in ./lib/python3.7/site-packages (from importlib-metadata; python_version < "3.8"->jsonschema->altair) (3.1.0)
Building wheels for collected packages: toolz
  Building wheel for toolz (setup.py) ... done
  Created wheel for toolz: filename=toolz-0.10.0-py3-none-any.whl size=55575 sha256=2444ec179ae9c7bd31a0290958ab6be67558436199e7d00cdf2949f1566a5eed
  Stored in directory: /Users/arihantsaiparuchuru/Library/Caches/pip/wheels/e2/83/7c/248063997a4f9ff6bf145822e620e8c37117a6b4c765584077
Successfully built toolz
Installing collected packages: pandas, toolz, altair
Successfully installed altair-4.0.1 pandas-1.0.3 toolz-0.10.0
Collecting vega_datasets
  Downloading vega_datasets-0.8.0-py2.py3-none-any.whl (210 kB)
     |████████████████████████████████| 210 kB 1.9 MB/s eta 0:00:01
Requirement already satisfied: pandas in ./lib/python3.7/site-packages (from vega_datasets) (1.0.3)
Requirement already satisfied: pytz>=2017.2 in ./lib/python3.7/site-packages (from pandas->vega_datasets) (2019.3)
Requirement already satisfied: python-dateutil>=2.6.1 in ./lib/python3.7/site-packages (from pandas->vega_datasets) (2.8.1)
Requirement already satisfied: numpy>=1.13.3 in ./lib/python3.7/site-packages (from pandas->vega_datasets) (1.18.2)
Requirement already satisfied: six>=1.5 in ./lib/python3.7/site-packages (from python-dateutil>=2.6.1->pandas->vega_datasets) (1.14.0)
Installing collected packages: vega-datasets
Successfully installed vega-datasets-0.8.0

In [ ]:
%matplotlib inline

import matplotlib
import numpy as np
import matplotlib.pyplot as plt

Matplotlib is building the font cache using fc-list. This may take a moment.

In [2]:
!pip install altair

Requirement already satisfied: altair in c:\users\khurd\anaconda3\lib\site-packages (4.0.1)
Requirement already satisfied: pandas in c:\users\khurd\anaconda3\lib\site-packages (from altair) (1.0.2)
Requirement already satisfied: jsonschema in c:\users\khurd\anaconda3\lib\site-packages (from altair) (2.6.0)
Requirement already satisfied: jinja2 in c:\users\khurd\anaconda3\lib\site-packages (from altair) (2.10)
Requirement already satisfied: toolz in c:\users\khurd\anaconda3\lib\site-packages (from altair) (0.9.0)
Requirement already satisfied: entrypoints in c:\users\khurd\anaconda3\lib\site-packages (from altair) (0.2.3)
Requirement already satisfied: numpy in c:\users\khurd\anaconda3\lib\site-packages (from altair) (1.17.0)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\khurd\anaconda3\lib\site-packages (from pandas->altair) (2.7.3)
Requirement already satisfied: pytz>=2017.2 in c:\users\khurd\anaconda3\lib\site-packages (from pandas->altair) (2018.4)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\khurd\anaconda3\lib\site-packages (from jinja2->altair) (1.0)
Requirement already satisfied: six>=1.5 in c:\users\khurd\anaconda3\lib\site-packages (from python-dateutil>=2.6.1->pandas->altair) (1.11.0)

In [3]:
!pip install vega_datasets

Requirement already satisfied: vega_datasets in c:\users\khurd\anaconda3\lib\site-packages (0.8.0)
Requirement already satisfied: pandas in c:\users\khurd\anaconda3\lib\site-packages (from vega_datasets) (1.0.2)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\khurd\anaconda3\lib\site-packages (from pandas->vega_datasets) (2.7.3)
Requirement already satisfied: numpy>=1.13.3 in c:\users\khurd\anaconda3\lib\site-packages (from pandas->vega_datasets) (1.17.0)
Requirement already satisfied: pytz>=2017.2 in c:\users\khurd\anaconda3\lib\site-packages (from pandas->vega_datasets) (2018.4)
Requirement already satisfied: six>=1.5 in c:\users\khurd\anaconda3\lib\site-packages (from python-dateutil>=2.6.1->pandas->vega_datasets) (1.11.0)

In [2]:
import numpy as np
import pandas as pd
import altair as alt
from vega_datasets import data

data = pd.read_csv("C:/Users/khurd/Documents/295B/LANDDATA.csv", encoding="ISO-8859-1")

alt.data_transformers.enable('json')
data.head(10)

,ï»¿,Unnamed: 1,"All values, costs, and indexes are in current dollars (nominals)",Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,MSA,Date,Home Value,Structure Cost,Land Value,Land Share (Pct),Home Price Index,Land Price Index
1,ATLANTA,1984Q4,"92,559.00","67,164.00","25,394.00",0.27,0.54,0.33
2,ATLANTA,1985Q1,"92,880.00","67,876.00","25,003.00",0.27,0.54,0.32
3,ATLANTA,1985Q2,"92,928.00","68,491.00","24,437.00",0.26,0.54,0.32
4,ATLANTA,1985Q3,"97,008.00","69,069.00","27,939.00",0.29,0.56,0.37
5,ATLANTA,1985Q4,"98,530.00","69,601.00","28,929.00",0.29,0.57,0.38
6,ATLANTA,1986Q1,"99,832.00","70,116.00","29,716.00",0.30,0.58,0.40
7,ATLANTA,1986Q2,"101,380.00","70,647.00","30,733.00",0.30,0.59,0.41
8,ATLANTA,1986Q3,"102,594.00","71,265.00","31,329.00",0.31,0.60,0.43
9,ATLANTA,1986Q4,"104,131.00","72,038.00","32,093.00",0.31,0.60,0.44

In [5]:
data

,ï»¿,Unnamed: 1,"All values, costs, and indexes are in current dollars (nominals)",Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,MSA,Date,Home Value,Structure Cost,Land Value,Land Share (Pct),Home Price Index,Land Price Index
1,ATLANTA,1984Q4,"92,559.00","67,164.00","25,394.00",0.27,0.54,0.33
2,ATLANTA,1985Q1,"92,880.00","67,876.00","25,003.00",0.27,0.54,0.32
3,ATLANTA,1985Q2,"92,928.00","68,491.00","24,437.00",0.26,0.54,0.32
4,ATLANTA,1985Q3,"97,008.00","69,069.00","27,939.00",0.29,0.56,0.37
...,...,...,...,...,...,...,...,...
6206,WASHINGTONDC,2017Q2,"556,626.00","272,716.00","283,910.00",0.51,2.09,2.40
6207,WASHINGTONDC,2017Q3,"558,709.00","274,045.00","284,665.00",0.51,2.10,2.41
6208,WASHINGTONDC,2017Q4,"565,120.00","275,643.00","289,476.00",0.51,2.12,2.45
6209,WASHINGTONDC,2018Q1,"570,734.00","280,434.00","290,300.00",0.51,2.14,2.46
6210,WASHINGTONDC,2018Q2,"573,452.00","285,489.00","287,963.00",0.50,2.15,2.44

In [19]:
for col in data.columns: 
    print(col)
print()
print(df.dtypes)
print()
print("Is there a unique column?:", df.columns.is_unique)

ï»¿
Unnamed: 1
All values, costs, and indexes are in current dollars (nominals)
Unnamed: 3
Unnamed: 4
Unnamed: 5
Unnamed: 6
Unnamed: 7

Land Value    object
dtype: object

Is there a unique column?: True

In [20]:
data.columns = ['MSA','Date','Home Value',
                     'Structure Cost','Land Value','Land Share (Pct)','Home Price Index','Land Price Index']

In [21]:
data

,MSA,Date,Home Value,Structure Cost,Land Value,Land Share (Pct),Home Price Index,Land Price Index
0,MSA,Date,Home Value,Structure Cost,Land Value,Land Share (Pct),Home Price Index,Land Price Index
1,ATLANTA,1984Q4,"92,559.00","67,164.00","25,394.00",0.27,0.54,0.33
2,ATLANTA,1985Q1,"92,880.00","67,876.00","25,003.00",0.27,0.54,0.32
3,ATLANTA,1985Q2,"92,928.00","68,491.00","24,437.00",0.26,0.54,0.32
4,ATLANTA,1985Q3,"97,008.00","69,069.00","27,939.00",0.29,0.56,0.37
...,...,...,...,...,...,...,...,...
6206,WASHINGTONDC,2017Q2,"556,626.00","272,716.00","283,910.00",0.51,2.09,2.40
6207,WASHINGTONDC,2017Q3,"558,709.00","274,045.00","284,665.00",0.51,2.10,2.41
6208,WASHINGTONDC,2017Q4,"565,120.00","275,643.00","289,476.00",0.51,2.12,2.45
6209,WASHINGTONDC,2018Q1,"570,734.00","280,434.00","290,300.00",0.51,2.14,2.46
6210,WASHINGTONDC,2018Q2,"573,452.00","285,489.00","287,963.00",0.50,2.15,2.44

In [24]:
data = data.iloc[1:]

In [25]:
data

,MSA,Date,Home Value,Structure Cost,Land Value,Land Share (Pct),Home Price Index,Land Price Index
1,ATLANTA,1984Q4,"92,559.00","67,164.00","25,394.00",0.27,0.54,0.33
2,ATLANTA,1985Q1,"92,880.00","67,876.00","25,003.00",0.27,0.54,0.32
3,ATLANTA,1985Q2,"92,928.00","68,491.00","24,437.00",0.26,0.54,0.32
4,ATLANTA,1985Q3,"97,008.00","69,069.00","27,939.00",0.29,0.56,0.37
5,ATLANTA,1985Q4,"98,530.00","69,601.00","28,929.00",0.29,0.57,0.38
...,...,...,...,...,...,...,...,...
6206,WASHINGTONDC,2017Q2,"556,626.00","272,716.00","283,910.00",0.51,2.09,2.40
6207,WASHINGTONDC,2017Q3,"558,709.00","274,045.00","284,665.00",0.51,2.10,2.41
6208,WASHINGTONDC,2017Q4,"565,120.00","275,643.00","289,476.00",0.51,2.12,2.45
6209,WASHINGTONDC,2018Q1,"570,734.00","280,434.00","290,300.00",0.51,2.14,2.46
6210,WASHINGTONDC,2018Q2,"573,452.00","285,489.00","287,963.00",0.50,2.15,2.44

In [9]:
#source = data.data()
#alt.data_transformers.disable_max_rows()


alt.Chart(data).mark_bar().encode(
    alt.X("Structure Cost:Q", bin=True),
    y="count()",
)

alt.Chart(...)

In [7]:
import json 
import pandas as pd 
import matplotlib.pyplot as plt
%matplotlib inline data = json.dumps({ "success":True, "data":[ { "record_id":258585618, "timestamp":"2018-01-21 22:34:34", "bytes":29466, } , { "record_id":258585604, "timestamp":"2018-01-21 22:33:14", "bytes":37892, } , { "record_id":258584399, "timestamp":"2018-01-21 22:37:40", "bytes":36396, } ] }) 
data = json.loads(data) 
dates = [i['timestamp'] for i in data["data"]] 
values = [i['bytes'] for i in data['data']] 
df = pd.DataFrame({'dates':dates, 'values':values}) 
df['dates'] = [pd.to_datetime(i) for i in df['dates']]
print(df.sort_values(by='dates')) 
#dates
#values 1 2018-01-21 22:33:14 37892 0 2018-01-21 22:34:34 29466 2 2018-01-21 22:37:40 36396
plt.bar(dates, values)

UsageError: unrecognized arguments: data = json.dumps({ success:True, data:[ { record_id:258585618, timestamp:2018-01-21 22:34:34, bytes:29466, } , { record_id:258585604, timestamp:2018-01-21 22:33:14, bytes:37892, } , { record_id:258584399, timestamp:2018-01-21 22:37:40, bytes:36396, } ] })

In [28]:
d = {"Land Value": [
           {
               "Rate": 92559,
               "Structure Cost": 67
           },
           {
               "Rate": 92880,
               "Structure Cost": 67
           }
]}

df = pd.DataFrame(d)
#print (df)
df.plot("Rate","Structure Cost")
# c=['Land Value','Home Value']
# pd.to_numeric(c, errors='ignore')
# df.plot(x='Land Value', y='Home Value')

KeyError: 'Rate'